# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
public/

# OS or Editor folders
.DS_Store
.cache
.tmproj
nbproject
Thumbs.db
.floo*
*.esproj/

# NPM packages folder.
node_modules/

# Bower stuff.
bower_components/
