<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Catcher</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <section class="content">
      <input class="rss-input" type="text" name="podcast" value="" />
      <input type="submit" class="add-feed" value="Get Feed">

      <ul id="shows">
        <p class="empty"><em>Unbelievable.</em> No entries here so far</p>
      </ul>
    </section>
    <script src="../public/bundle.js"></script>
</body>
</html>
